body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.v50_ {
  width: 500px;
  height: 70px;
  background: rgba(238,221,255,1);
  opacity: 1;
  position: absolute;
  top: 80px;
  text-align: center;
  padding-top: 10px;
  overflow: hidden;
}

